In [1]:
import glob
import numpy as np
import re
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter, FormatStrFormatter
%matplotlib inline
from matplotlib.font_manager import FontProperties
#from plotnine import *

In [2]:
#
path = "../results/exp_classifiers/*"
#path_to_save = "../figs/tolerance.eps"
name = 'classifier'
n_exp = 10
names = glob.glob(path)
for i in range(len(names)):
    #
    if i == 0:
        #
        final = pd.read_csv(names[i])
        #
    else:
        #
        curr = pd.read_csv(names[i])
        final = pd.concat([final,curr])

means = final.groupby(name).mean()
devs = final.groupby(name).std() / np.sqrt(n_exp)

/home/roi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

In [3]:
means

            acc_acra_att  acc_raw_att  acc_raw_clean
classifier
lr              0.917137     0.680911       0.927983
nb              0.923881     0.773812       0.890554
nn              0.811497     0.763991       0.904772
rf              0.820390     0.663341       0.945987
svm             0.883297     0.693926       0.941866

In [4]:
devs

            acc_acra_att  acc_raw_att  acc_raw_clean
classifier
lr              0.002889     0.008528       0.003627
nb              0.004461     0.025974       0.003323
nn              0.009832     0.006994       0.002989
rf              0.005486     0.005543       0.002386
svm             0.003997     0.007334       0.002623

In [ ]:
# path = "../results/exp_comp_solutions/*"
#name = 'tolerance'
n_exp = 10
final = pd.read_csv("../results/exp_comp_solutions/exp1.csv")

means = final.mean()
devs = final.std() / np.sqrt(n_exp)